.head-line-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon-button {
  padding: 8px 9px 9px;
  margin-top: 5px;
}
.icon-button:hover {
  background-color: beige;
}
.hide {
  display: none;
}
.head-line {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.head-line svg {
    max-width: 430px;
    margin:0px 20px
}
.menus {
  display: flex;
  justify-content: center;
  padding: 5px 0 4px;
  border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 4px double black;
  flex-wrap: wrap;
}
.menus button {
  margin: 5px;
  border: none;
  background: none;
}
.menus button:hover {
  background-color: beige;
  border-radius: 3px;
}
.news {
  display: flex;
  padding: 1em;
  border-bottom: 2px solid black;
}
.news-img {
  max-width: 100%;
  max-height: 250px;
  margin-right: 1em;
  text-align: center;
}
.title {
  font-size: 20pt;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-top: 2em;
}
.title:hover {
  text-decoration: underline;
  color: blue;
}
.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
}
.search-button {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  height: 33px;
  border-radius: 3px;
}
#search-input {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 3px;
  height: 33px;
}

#input-area {
  display: none;
}
@media screen and (max-width: 63rem) {
  .hide {
    display: inline;
  }
  .menus {
    display: none;
  }
}
.pagenation-nav {
  display: flex;
  justify-content: center;
}
.pagination {
  margin-top: 1em;
}
.page-item.active .page-link{
    background-color: burlywood;
    color: white;
    border-color: burlywood;
}
.page-link{
    color:burlywood
}
.col-lg-8{
    margin-top:1em
}